body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h2 {
    color: #007bff;
}

h4 {
    color: #28a745;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px; /* Ajuste a margem entre os campos conforme necessário */
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

p {
    font-size: 14px;
    color: #6c757d;
}